.container {
    height: 100vh;
    overflow: hidden;
}

.cobe_wrapper {
    width: 100%;
    max-width: 600px;
    aspect-ratio: 1 / 1;
    position: absolute;
    margin: auto;
    inset: 0;

    transform: translateZ(0) scale(2);
}

.cobe_content {
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease;   
}

@media (max-width: 1024px) {
    .cobe_wrapper {
        transform: scale(1.5);
    }
}

@media (max-width: 425px) {
    .cobe_wrapper {
        width: auto;
        max-width: unset;
        min-height: 100%;
        left: -20%;

        transform: scale(1);
    }
}
